*{
    font-family: 'Prompt', sans-serif;   
    
}
body{
    background-color: #171010;

    background-position: top right;
    background-size: auto auto;
}
.container{
    height: 100vh ;
    max-width: 100% ;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    
}
.alert{
    display:none;
}
.container .header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    padding-top: 30px;
    color: white;
}
.container .header h1{
    font-weight: 600;
    font-size: 2em;
}

.container .box{
    display:grid;
    align-items: center;
    justify-items: center;
    border-radius: 40px;
    border: none;
    background: rgba(172, 255, 173,0.7);   
    backdrop-filter: blur(4px);
    min-width: 296px;
}
.container .box h1{
    font-weight: 900;
    color: white;
    font-size: 2em;
}

.container .btn{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    justify-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.container .btn button{
    height: 120px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background: rgba(43, 43, 43,0.7);
    font-weight: 200;
    backdrop-filter: blur(4px);
    color: white;
}