*{
 font-family: 'Prompt', sans-serif;   
}

.container{
    height: 100vh ;
    max-width: 100% ;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    background: rgba(172, 255, 173,0.5)ว
}
.alert{
    display:none;
}
.container .header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    padding-top: 30px;

}
.container .box{
    display:grid;
    align-items: center;
    justify-items: center;
    border-radius: 40px;
    border: none;
    background: #ACFFADว
}

.container .btn{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    justify-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.container .btn button{
    height: 60px;
    width: 100%;
    border-radius: 40px;
    border: none;
    background: #B8B8B8;
}
